In [5]:
import pandas as pd
import numpy as np
import sklearn.ensemble

In [15]:
spent = pd.read_csv('../data/spent.csv')

In [34]:
spent.describe()
spent.fillna(method='ffill')

ValueError: Must specify a fill 'value' or 'method'.

In [17]:
rf = sklearn.ensemble.RandomForestRegressor(n_estimators=1000)

In [31]:
spent_data_headers = ['Occupation',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3']
spent_target_headers = ['Purchase']
spent_data = spent[spent_data_headers]
spent_target = spent[spent_target_headers]

In [32]:
train, test, labels_train, labels_test = sklearn.model_selection.train_test_split(spent_data, spent_target, train_size=0.80)

/usr/local/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2069: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [33]:
train

,Occupation,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
340280,14,2,0,5,NaN,NaN
403211,12,2,1,1,2.0,9.0
50299,12,1,1,8,NaN,NaN
290730,4,4+,0,8,NaN,NaN
456261,19,0,0,1,8.0,17.0
252527,4,2,1,5,NaN,NaN
153074,4,3,1,8,NaN,NaN
19222,4,4+,0,3,12.0,NaN
360398,2,2,1,5,8.0,NaN
101564,0,4+,1,7,NaN,NaN
478696,0,4+,0,8,NaN,NaN
36107,7,2,0,8,14.0,17.0
464680,4,0,1,8,NaN,NaN
310904,20,1,1,8,NaN,NaN
457430,4,0,0,1,15.0,16.0
509261,17,3,1,1,NaN,NaN
342152,4,0,1,2,4.0,15.0
239226,16,2,1,10,NaN,NaN
364789,1,4+,1,4,5.0,18.0
285566,4,1,0,5,NaN,NaN
295543,7,3,1,8,NaN,NaN
318535,4,0,1,5,15.0,NaN
171703,11,0,0,14,16.0,NaN
275990,6,3,0,16,NaN,NaN
23243,10,1,0,5,8.0,NaN
61613,0,3,0,16,NaN,NaN
401903,17,3,0,5,11.0,NaN
108190,0,0,0,3,4.0,5.0
37812,12,1,0,5,NaN,NaN
232904,2,3,1,1,6.0,16.0
...,...,...,...,...,...,...
182959,18,1,0,8,16.0,NaN
325794,20,3,1,1,2.0,13.0
66183,15,1,0,5,14.0,NaN
11217,12,1,1,8,14.0,17.0
134739,0,2,0,1,2.0,NaN
321052,3,1,0,11,16.0,NaN
415742,4,0,0,5,14.0,NaN
207606,7,1,0,5,14.0,16.0
476641,13,1,1,10,13.0,NaN
314295,14,3,1,8,16.0,NaN
66675,17,0,0,1,11.0,15.0
205938,17,0,0,5,11.0,NaN
492249,17,0,0,11,15.0,NaN
487063,1,2,1,15,NaN,NaN
194401,1,1,1,5,14.0,NaN
291700,5,1,1,1,14.0,16.0
320442,0,1,1,11,NaN,NaN
259793,17,4+,0,6,8.0,NaN
452315,7,3,0,5,8.0,18.0
368526,20,3,0,3,15.0,NaN
528334,0,1,0,1,6.0,NaN
218461,15,1,1,8,16.0,NaN
382704,17,1,1,16,NaN,NaN
520296,4,3,0,1,8.0,NaN
28614,15,0,1,8,12.0,NaN
264352,7,3,1,5,NaN,NaN
192255,15,4+,1,11,NaN,NaN
42542,6,3,0,11,NaN,NaN
390224,3,3,0,3,4.0,12.0
32924,2,0,0,1,16.0,NaN

In [29]:
rf.fit(train, labels_train)

ValueError: could not convert string to float: '4+'